<div class="register-block center-block margin-top-l">
  <h1 class="register-hd">Registrieren</h1>
  <%= form_for(@user) do |f| %>
    <%= render 'form_field', :field_name => :first_name, :placeholder => 'Vorname', :type => 'text', :f => f %>
    <%= render 'form_field', :field_name => :last_name, :placeholder => 'Nachname', :type => 'text', :f => f %>
    <%= render 'form_field', :field_name => :email, :placeholder => 'E-Mail', :type => 'email', :f => f %>
    <%= render 'form_field', :field_name => :password, :placeholder => 'Passwort', :type => 'password', :f => f %>
    <%= f.submit 'Neu anmelden', :class => 'btn btn-default center-block next-btn' %>
  <% end %>
</div>
