<div class="row teaser-bg">
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
    <div class="text-center">
      <h1 class="start-hd">Wir unterstützen Sie bei der Anmeldung in ihrer Wunschkita</h1>
      <%= link_to 'Kita finden', nurseries_index_path, :class => 'btn btn-default center-block start-btn' %>
    </div>
  </div>
</div>
<h2 class="register-hd margin-top-xl">Mit Kitahub von der ersten Anfrage bis zum Kitaplatz</h2>
<div class="jumbotron img-area">
  <picture>
  <source
    media="(max-width: 678px)"
    srcset="<%= image_path('kitaanmeldung_hoch.svg') %>">
  <%= image_tag('kitaanmeldung_quer.svg', :alt => 'Kitaplatz-Vergabeprozess', :class => 'main-graphic') %>
</picture>
</div>
<div class="carousel-bg">
  <div id="carousel-example-generic" class="carousel slide container" data-ride="carousel">
  <!-- Indicators -->
    <ol class="carousel-indicators carrousel-circle">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active slide-content">
        <h2 class="carousel-hl">Innovativer Onlinedienst</h2>
        <p>Mit unserer Hilfe können Kitaleiter Ihr Anmeldeverfahren stark vereinfachen. Ein gemeinsam mit Kitas entwickelter Online-Service erlaubt es den bürokratischen Aufwand zu reduzieren und die Kommunikation mit Eltern zu verbessern. </p>
        <div class="carousel-caption"></div>
      </div>
      <div class="item slide-content">
        <h2 class="carousel-hl">Effizientes Verfahren</h2>
        <p>Mit einer stadtweiten Anmeldung helfen wir Eltern sich nur einmal zentral anmelden zu müssen. Dadurch können Kitas bei der Vergabe von Plätzen besser auf die Bedürfnisse aller Eltern eingehen. Außerdem erhöht sich die Übersichtlichkeit, da Kitas automatisch benachrichtigt werden, sobald ihre Bewerber in einer anderen Kita eine Betreuung gefunden haben.</p>
        <div class="carousel-caption"></div>
      </div>
      <div class="item slide-content">
        <h2 class="carousel-hl">Transparenz für alle</h2>
        <p>Durch die Einbeziehung der Eltern in die Entwicklung wird eine hohe Zufriedenheit auf beiden Seiten gewährleistet. Die Vergabe der Kitaplätze kann durch die Eltern besser nachvollzogen werden. Die Kitas bekommen einen Überblick über die tatsächliche Nachfrage und der tatsächliche Bedarf in der Stadt wird transparent gemacht. </p>
        <div class="carousel-caption"></div>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control carousel-arrow left" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control carousel-arrow left" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div class="kitahub-area">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag("kitahub_children.jpg", :alt => "Brand", :class => "kitahub-img") %>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-4 kitahub-profil">
        <%= image_tag('kitahub-grey.png', :alt => 'Kitahub Logo', :class => 'kitahub-logo center-block') %>
        <p class="text-center">Kitahub ist eine soziale Initiative aus Eltern mit dem Ziel gemeinsam mit Kitas einen Online-Dienst für die Vergabe von Betreuungsplätzen zu entwickeln.</p>
      </div>
    </div>
  </div>
</div>
<!--
<div class="text-area info-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag("kitahub-grey.png", :alt => "Brand", :class => "logo-m") %>
      </div>
      <div class="col-md-8 kitahub-profil">
        <p>Kitahub ist eine soziale Initiative aus Eltern mit dem Ziel gemeinsam mit Kitas einen Online-Dienst für die Vergabe von Betreuungsplätzen zu entwickeln.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3 class="hl">
          <a id="innovativer-onlinedienst" class="anchor" href="#innovativer-onlinedienst" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Innovativer Onlinedienst
        </h3>
        <p>Mit unserer Hilfe können Kitaleiter Ihr Anmeldeverfahren stark vereinfachen. Ein gemeinsam mit Kitas entwickelter Online-Service erlaubt es den bürokratischen Aufwand zu reduzieren und die Kommunikation mit den Bewerbern zu verbessern. </p>
      </div>
      <div class="col-md-4">
        <h3 class="hl">
          <a id="effizientes-verfahren" class="anchor" href="#effizientes-verfahren" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Effizientes Verfahren
        </h3>
        <p>Mit einer stadtweiten Anmeldung helfen wir Eltern sich nur einmal zentral anmelden zu müssen. Dadurch können Kitas bei der Vergabe von Plätzen besser auf die Bedürfnisse aller Eltern eingehen. Außerdem erhöht sich die Übersichtlichkeit, da Kitas automatisch benachrichtigt werden, sobald ihre Bewerber in einer anderen Kita eine Betreuung gefunden haben.</p>
      </div>
      <div class="col-md-4">
        <h3 class="hl">
          <a id="transparenz-für-alle" class="anchor" href="#transparenz-f%C3%BCr-alle" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Transparenz für alle
        </h3>
        <p>Durch die Einbeziehung der Eltern in die Entwicklung wird eine hohe Zufriedenheit auf beiden Seiten gewährleistet. Die Vergabe der Kitaplätze kann durch die Eltern besser nachvollzogen werden. Die Kitas bekommen einen Überblick über die tatsächliche Nachfrage und der tatsächliche Bedarf in der Stadt wird transparent gemacht. </p>
      </div>
    </div>
  </div>
</div>
-->
