<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-7">
    <h2 class="margin-top-l margin-bottom-l">Ihre Anfrage in der Kita “<%= @nursery.name %>”</h2>
    <p class="margin-bottom-s">Sehr geehrte/r <%= @nursery.management %>,</p>
    <%= form_tag do %>
      <div class="form-inline form-group">
        <p class="inline-order">wir sind auf der Suche nach einem Kitaplatz zum </p>
        <%= date_field_tag :child_due_date, nil, placeholder: 'tt.mm.jjjj', class: 'form-control' %>
      </div>
      <div class="child-container">
        <p class="inline-order">für unsere/n</p>
        <div class="checkbox inline-order">
            <label><%= radio_button_tag :child_gender, 'Tochter', type: 'checkbox', value: 'f' %> Tochter</label>
        </div>
        <div class="checkbox inline-order margin-right-m">
            <label><%= radio_button_tag :child_gender, 'Sohn', type: 'checkbox', value: 'm' %> Sohn</label>
        </div>
        <div class="form-inline form-group">
          <% if @child && @child.errors[:first_name].any? %>
            <div class="form-group has-error">
              <label class="control-label">
                <%= @child.errors[:first_name].join(", ") %>
              </label>
              <%= text_field_tag :child_first_name, nil, placeholder: 'Vorname', class: 'form-control' %>
            </div>
          <% else %>
            <div class="form-group">
              <%= text_field_tag :child_first_name, nil, placeholder: 'Vorname', class: 'form-control' %>
            </div>
          <% end %>
          <%= text_field_tag :child_last_name, nil, placeholder: 'Nachname', class: 'form-control' %>
          <p class="inline-order">, geboren am</p>
          <%= date_field_tag :child_birth_date, nil, placeholder: 'tt.mm.jjjj', class: 'form-control' %>
        </div>
      </div>
      <div class="next-child"></div>
      <div class="add-icon inline-order add-child">Kind hinzufügen</div>
      <div class="remove-icon inline-order remove-child" style="display: none;">Kind entfernen</div>
      <p class="margin-top-m">Wir möchten gerne unser Kind in Ihrer Kita anmelden. </p>
      <p class="margin-top-m">Mit freundlichen Grüßen</p>
      <p class="inline-order">Familie</p>
      <p class="inline-order"><%= current_parents.email %></p>
  </div>
  <div class="col-md-3 margin-top-l sidebar-column">
    <h3 class="sidebar-hl">Weitere Ergänzungen zu Ihrer Anfrage</h3>
    <div class="checkbox">
      <label><input type="checkbox"> Besichtigungstermin ist erwünscht </label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Ein Geschwisterkind besucht die Kita</label>
    </div>
    <h3 class="sidebar-hl margin-top-m">Was interessiert Sie an der Kita besonders?</h3>
    <div class="checkbox">
      <label><input type="checkbox"> Die Nähe zum Wohnort</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Das pädagogische Konzept</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Sie wurde mir empfohlen durch: <input type="child-first-name" class="form-control input-sm recommendation-field" id="" placeholder="Name"></label>
    </div>
    <h3 class="sidebar-hl margin-top-m">Sonstige Ergänzungen</h3>
    <textarea class="form-control" rows="3"></textarea>
    <button class="btn btn-default basic-btn margin-top-m" href="/nurseries">Zur Anfrage hinzufügen</button>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-7">
    <%= submit_tag 'Anfrage senden', class: 'btn-lg btn-default ok-btn margin-top-m' %>
  </div>
</div>
<% end %>
