<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-7">
    <h2 class="margin-top-l margin-bottom-l">Ihre Anfrage in der Kita “<%= @nursery.name %>”</h2>
    <p class="margin-bottom-s">Sehr geehrte/r <%= @nursery.management %>,</p>
    <%= form_tag do %>
      <div class="form-inline form-group">
        <p class="inline-order">wir sind auf der Suche nach einem Kitaplatz zum </p>
        <%= date_field_tag :prefered_start_date, nil, placeholder: 'tt.mm.jjjj', class: 'form-control' %>
      </div>
      <div class="child-container">
        <p class="inline-order">für unsere/n</p>
        <div class="checkbox inline-order">
            <label><%= radio_button_tag :child_gender, 'Tochter', type: 'checkbox', value: 'f' %> Tochter</label>
        </div>
        <div class="checkbox inline-order margin-right-m">
            <label><%= radio_button_tag :child_gender, 'Sohn', type: 'checkbox', value: 'm' %> Sohn</label>
        </div>
        <div class="form-inline form-group">
          <% if @child && @child.errors[:first_name].any? %>
            <div class="form-group has-error">
              <label class="control-label">
                <%= @child.errors[:first_name].join(", ") %>
              </label>
              <%= text_field_tag :child_first_name, nil, placeholder: 'Vorname', class: 'form-control' %>
            </div>
          <% else %>
            <div class="form-group">
              <%= text_field_tag :child_first_name, nil, placeholder: 'Vorname', class: 'form-control' %>
            </div>
          <% end %>
          <%= text_field_tag :child_last_name, nil, placeholder: 'Nachname', class: 'form-control margin-right-m' %>
          <p class="inline-order">  geboren am</p>
          <%= date_field_tag :child_birth_date, nil, placeholder: 'tt.mm.jjjj', class: 'form-control' %>
        </div>
      </div>
      <div class="next-child"></div>
      <div class="add-icon inline-order add-child">Weiteres Kind hinzufügen</div>
      <div class="remove-icon inline-order remove-child" style="display: none;">Kind entfernen</div>
      <p class="margin-top-m">Wir möchten gerne unser/e Kind/er in Ihrer Kita anmelden. </p>
      <p class="sibling" style="display: none;">Wir haben bereits mit Ihnen gute Erfahrungen gemacht, da aktuell ein Geschwisterkind die Kita besucht.</p>
      <p class="located-nearby" style="display: none;">Die Nähe Ihrer Kita zu unserem Wohnort würde unseren Alltag sichtlich erleichtern.</p>
      <p class="recommendation" style="display: none;"><span class="recommendation-person"></span> hat uns Ihre Kita wärmstens empfohlen.</li>
      <p class="margin-top-s appointment" style="display: none;">
        Daher möchten wir gerne Sie und Ihre Kita persönlich kennenlernen.
        Bitte schlagen Sie uns einen Termin vor.
      </p>
      <p class="placeholder"></p>
  </div>
  <div class="col-md-3 margin-top-l">
    <div class="affix sidebar-column" data-spy="affix-top" data-offset-top="200">
      <h4 class="sidebar-hl">Optionale Ergänzungen zu Ihrer Anfrage</h4>
      <div class="checkbox checkbox-label">
        <label><input type="checkbox" class="sibling-check"> Ein Geschwisterkind besucht die Kita</label>
      </div>
      <div class="checkbox checkbox-label">
        <label><input type="checkbox" class="located-nearby-check"> Die Kita liegt in der Nähe zum Wohnort (unter 2 km) </label>
      </div>
      <div class="checkbox checkbox-label">
        <label><input type="checkbox" class="recommendation-check"> Die Kita wurde mir empfohlen von
          <input class="form-control input-sm recommendation-field" placeholder="Name"></label>
      </div>
      <div class="margin-top-m">
        <div class="checkbox checkbox-label">
          <label><input type="checkbox" class="appointment-check"> Besichtigungstermin ist erwünscht </label>
        </div>
      </div>
      <h4 class="sidebar-hl margin-top-m">Sonstige Ergänzungen</h4>
      <textarea class="form-control freetext" rows="3"></textarea>
      <button class="btn btn-default btn-sm basic-btn margin-top-s add-freetext">Text hinzufügen</button>
      <a href="" class="minor-link pull-right margin-top-s empty-text">Text leeren</a>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-7">
    <p class="margin-top-m">Mit freundlichen Grüßen</p>
    <p class="inline-order">Familie</p>
    <p class="inline-order"><%= current_parents.email %></p></br>
    <%= submit_tag 'Anfrage senden', class: 'btn-lg btn-default ok-btn margin-top-m' %>
  </div>
</div>
<% end %>
