<div class="nursery-form center-block margin-top-l">
  <%= image_tag('kita.png', alt: 'Kitaicon', class: 'kita-icon margin-top-s') %>
  <h1 class="margin-top-s margin-bottom-m">
    <%= @nursery.name %>
  </h1>
  <p>Straße: <%= @nursery.address_street %></p>
  <p>PLZ: <%= @nursery.address_zip %></p>
  <p>Stadt: <%= @nursery.address_city %></p>
  <p>Stadtteil: <%= @nursery.district %></p>
  <p>E-Mail: <%= @nursery.mail %></p>
  <p>Telefon: <%= @nursery.phone %></p>
  <p>Betreuungsalter: <%= @nursery.children_age %></p>
  <p>Betreuungszeit: <%= @nursery.care_time %></p>
  <p>Pädagogisches Konzept: <%= @nursery.education_concept %></p>
  <p>Ansprechpartner: <%= @nursery.management %></p>
  <p>Kapazität: <%= @nursery.capacity %></p>
  <%= link_to 'Kitadaten ändern',
    edit_nurseries_path,
    class: 'btn btn-default basic-btn'
  %>
  <%= link_to 'Kita löschen',
    nurseries_path,
    method: :delete,
    data: { confirm: 'Sind Sie sicher, dass Sie die Kita löschen möchten?' },
    class: 'btn btn-default warning-btn'
  %>
</div>
