<div class="register-block center-block margin-top-l">
  <h1 class="register-hd">Registrieren</h1>
  <%= form_for(@parents) do |f| %>
    <%= f.fields_for :user do |user_form| %>
      <%= user_form.email_field :email, placeholder: 'E-Mail' %>
      <%= user_form.password_field :password, placeholder: 'Passwort' %>
    <% end  %>

  <%= f.submit 'Neu anmelden', class: 'btn btn-default center-block next-btn' %>
  <% end %>
</div>
